.mdl-cell {
    text-align: center;
}

.mdl-grid {
    justify-content: center;
}

.mdl-layout__content {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}
